/* ----------GENERAL-------------- */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}
.container {
  /* width: 1158px;
  padding-left: 15px;
  padding-right: 15px; */
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

address {
  font-style: normal;
}

/* ------------------COMMON-------------- */

.section {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ------------------HEADER------------------ */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-menu-list {
  display: none;
}

.header-soc-list {
  display: none;
}

.header-cont {
  margin-left: auto;
}

.menu-open-icon {
  fill: #2f2f37;
}

.header-menu-open {
  background-color: transparent;
  display: block;
}

.header-menu-close {
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid #2e2f42;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon-close {
  fill: #2e2f42;
}

.header-menu-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  padding-top: 72px;
  padding-left: 16px;
  padding-bottom: 40px;
  padding-right: 24px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  
}

.modal-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.modal-menu-link:hover,
.modal-menu-link:focus {
  color: #404bbf;
}

.modal-soc-link:hover,
.modal-soc-link:focus {
  color: #4d5ae5;
}

.modal-soc-list {
  margin-bottom: 48px;
}

.modal-menu-item {
  margin-bottom: 40px;
}

.modal-soc-item:not(:last-child) {
  margin-bottom: 24px;
}

.modal-header-soc {
  display: flex;
  justify-content: space-between;
}

.modal-soc-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 16px 0;
  display: block;
  margin-right: 76px;
}

.logo-gray {
  color: #2e2f42;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
}

.header-menu-link {
  position: relative;
}

.act::after {
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.act {
  color: #404bbf;
}

.header-soc-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigatio {
  display: flex;
  align-items: center;
}

.header-soc-link:hover,
.header-soc-link:focus,
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

/* --------------------HERO-------------------- */

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* padding-top: 188px;
  padding-bottom: 188px; */
  padding-top: 72px;
  padding-bottom: 72px;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob-2x.jpg);
  }
}

.hero-title {
  text-align: center;
  font-weight: 700;
  /* font-size: 56px;
  line-height: 1.07; */
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
  /* margin-bottom: 48px; */
  margin-bottom: 72px;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  min-width: 169px;

  transition: background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus,
.modal-submit:hover,
.modal-submit:focus {
  background-color: #404bbf;
}
/* ------------------FEATURES------------------ */

.features {
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.features-item {
  width: 100%;
}

.features-icon {
  display: none;
}

.features-subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.features-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -----------------------TEAM-------------------- */
.team-container {
  width: 296px;
}

.team {
  background-color: #f4f4fd;
}
.team-title {
  margin-bottom: 72px;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-list-item {
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  width: 100%;
}

.team-desc {
  padding-top: 32px;
  text-align: center;
  padding-bottom: 32px;
}

.team-image {
}

.team-soc-link {
  cursor: pointer;
  background-color: #4d5ae5;
  width: 40px;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-cont-icon {
  fill: #f4f4fd;
}
.team-cont {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
.team-cont-item {
  border-radius: 50%;
  height: 40px;
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}

/* -----------------PORTFOLIO-------------------- */

.portfolio {
}

.portfolio-desc {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item-text {
  transform: translateY(0);
}

.portfolio-item:hover {
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-image {
  height: 280px;
  object-fit: cover;
  max-width: none;
}

.portfolio-text {
}
.portfolio-item-text {
  background-color: #4d5ae5;
  position: absolute;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-hover-blok {
  position: relative;
  overflow: hidden;
}

/* -----------------------FOOTER------------------ */

.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-logotyp {
  /* display: inline-block;*/
  margin-bottom: 16px;
  display: block;
  text-align: center;
}

.footer-container {
}
.footer-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-contact-link {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  background-color: #31d0aa;
}

.footer-social {
  /* width: 208px;
  margin-right: 80px; */
  margin-bottom: 72px;
}

.footer-contact {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-contact-icon {
  fill: #f4f4fd;
}
.footer-contact-item {
}

.footer-desc {
  margin-bottom: 72px;
}

.form-group {
  display: flex;
  border: none;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
}

.footer-email {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  width: 264px;
  outline: transparent;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  opacity: 0.3;
}

.footer-email::placeholder {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-btn {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
}
.footer-icon-send {
  fill: #fff;
  margin-left: 16px;
}

.group-title {
  margin-bottom: 16px;
}

/* ------------------MODAL WINDOW ---------------*/

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  /* width: 408px; */
  width: 288px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding-bottom: 24px;
  /*padding-left: 24px;
  padding-right: 24px; */
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 72px;
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close {
  fill: #2e2f42;
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-icon-close,
.modal-close-btn:focus .modal-icon-close {
  fill: #fff;
}

.modal-close-btn {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms linear,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  padding-right: 24px;
  outline: transparent;
  transition: border-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}

.modal-input-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-field {
  margin-bottom: 8px;
}

.comment-field {
  margin-bottom: 16px;
}

.modal-field-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  height: 120px;
  padding: 8px 16px;
  margin-top: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::placeholder {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-submit {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 64px;
  margin: 0 auto;
  display: block;
  transition: background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-terms {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
  display: flex;
  align-items: center;
}

.terms-field {
  margin-bottom: 24px;
}

.label-privacy-policy {
  text-decoration: underline;
  color: #4d5ae5;
  cursor: pointer;
  /* margin-left: 4px; */
}

.fike-field {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  display: inline-flex;
  padding-right: 3px;
  padding-left: 3px;
}

.modal-input-terms + .modal-label-terms span {
  fill: transparent;
}
.modal-input-terms:checked + .modal-label-terms span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* ---------------------MEDIA-------------------- */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .features-list {
    column-gap: 24px;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .features-subtitle {
    text-align: left;
  }

  .team-container {
    width: 584px;
  }

  .team-list {
    gap: 64px 24px;
  }

  .team-list-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-list {
    gap: 72px 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }
  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
  }
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .footer-container {
    width: 528px;
  }
  .footer-subtitle {
    text-align: left;
  }
  .footer-logotyp {
    text-align: left;
  }
  .footer-social {
  }
  .footer-top {
    display: flex;
  }
  .footer-top {
    gap: 24px;
  }
  .form-group {
    justify-content: start;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tablet.jpg);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }
  .modal {
    width: 408px;
  }
  .header-menu-open {
    display: none;
  }
  .header-menu-list {
    display: flex;
    gap: 40px;
  }
  .header-logo {
    margin-right: 120px;
    padding: 24px 0;
  }
  .header-soc-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .header-soc-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 0;
  }
  
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .features-list {
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 72px) / 4);
  }
  .features-icon {
    display: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
  }
  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .team-list {
    gap: 24px;
  }
  .team-list-item {
    width: calc((100% - 72px) / 4);
  }

  .portfolio-list {
    row-gap: 48px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
  .hero {
    padding-bottom: 188px;
    padding-top: 188px;
  }
  .hero-title {
    margin-bottom: 48px;
  }
  .footer-top {
    gap: 120px;
  }
  .footer-container {
    display: flex;
    gap: 80px;
  }
  .footer-email {
    opacity: 1;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desktop.jpg);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-des-2x.jpg);
    }
  }
  .header-soc-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-soc-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
  .header-logo {
    margin-right: 76px;
}
}
